*{
   font-family: "Oswald", sans-serif;
   margin: 0;
   padding: 0;
   
}


body{
  /*background-color: aqua;*/
}
nav{
 display: flex;
 justify-content: space-between;
 align-items: center;
 max-width: 1500px;

}

.container{
  margin-left:100px;
 margin-right: 100px;
}

.main-content .my-buttons{
  gap: 30px;
  display: flex;
  justify-content: center;
}
 



.my-btn-1{
background-color: #30B868;
color: white;
padding: 10px;
font-size: 15px;
font-weight: 500;
border: none;
border-radius: 5px;
cursor: pointer;
}

.my-btn-2{
  color:white;
  background-color: #30B868;
  padding:10px ;
  font-weight:500 ;
  font-size:16px ;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.my-btn-3{
  color:rgba(255, 255, 255, 1);
  background-color: transparent;
  padding:10px ;
  font-weight:500 ;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
}










.link-parent{
  display: flex;
  gap: 25px;
  text-decoration: none;
  list-style: none;
}
.container{
padding: 10px;
/*background-color: aquamarine;*/

}

.main {
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  width: 1366px;
  height:500px;
  margin: none;
  
}
 .main-content .content{
 text-align: center;
  max-width: 700px;
  padding-left:300px;
  

  
}
.content h2{
font-size: 70px;
line-height: 1.2;
}

.content p{
margin: 20px;
}
.content{
  padding-top: 50px;
}
 
.content .my-btn-4{
  font-size: 16px;
  font-weight: 500;
  color:  rgba(70, 145, 101, 1);
  background-color: white;
 padding: 10px;
 cursor: pointer;
 border-radius: 50px;
 border: none;
}
.my-btn-4 i{
background-color: #30B868;
border-radius: 30%;
}

.main-2 .card{
 text-align: center;
 padding-bottom: 30px;
 padding-top: 35px;
 padding-bottom: 35px;
 

}
 
.main-2 .card h2{
  font-size: 48px;
 font-weight: 700;
 color: #001931;


}

 .card p{
  color: var(--#627382, rgba(98, 115, 130, 1));
  font-size: 16px;
  font-weight: 400;

}

.main-2 .card-2{
background-color: white;
border-radius: 12px;
padding: 12px;
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
display: flex;
flex-direction: column;
gap: 15px;


}
    
.card-2-parent{
  display: flex;
  gap: 20px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
  
}





.card-2 img{
  background-color: rgba(249, 85, 85, 1);; 
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 3px;
  border-radius: 50%;
  margin-left: 85px;

  

}
.card-2 h2{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
color: #001931;
}
.card-2 p{
  color:-#627382;
  font-size: 16px;
  text-align: center;
}

.main-3 .main-knowledge{
  padding-top: 80px;
 
}



.main-knowledge{
  display: flex;
  gap: 65px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.knowledge a{
  width: 50px;
  height: 50px;
  background-color: #30B868;

}







.main-knowledge .knowledge-2 .primary{
 color: #30B868;
 padding-bottom: 10px;
 font-weight: 300;
}




.main-knowledge .knowledge-2 h2{
font-size:48px ;
font-weight: bold;
color:#001931 ;
text-align: left;
padding-right: 300px;
}

.main-knowledge .knowledge-2 p{
padding-top: 10px;
padding-right:330px ;
padding-left: 5px;
padding-bottom: 50px
font-size: 16px;
color:var(--#627382, rgba(98, 115, 130, 1)) ;
font-weight:300 ;


}

.main-knowledge .knowledge-2 .knowledge-list{
  font-size: 16px;
  font-weight: 500;
  color: var(--Style, rgba(0, 25, 49, 1));
  padding-top: 30px;
  

}






.main-knowledge .knowledge-1 img{
  width: 400px;
  height: 400px;
  padding-left: 150px;
}


.knowledge-list{
list-style: none;


}
 
.knowledge-list li{
  background-image: url("../assets/CheckCircle.png");
  background-repeat: no-repeat;
  background-position:left center;
  background-size: 18px 18px;
  padding-left: 25px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-top: none;
 
}

.footer{
  background-color: #001931;
}


.footer-mother{
  display: flex;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 100px;
  padding-bottom: 100px;
  
}
.footer-socials p{
  font-size: 20px;
  font-weight: 500;
  color: white;

}

.footer-socials i{
  background-color: #F7F6F2;
  border-radius: 50%;
}


.copyright hr{
  background-color: #30B868;
  margin-left: 150px;
  margin-right: 150px;
}
 
.copyright p{
  color:white;
 text-align: center;
 padding-top: 25px;
 padding-bottom: 25px;
 font-size: 16px;
 font-weight: 300;
}

.footer-socials .link{
  padding-bottom: 10px;
}




.main-thinking{
  text-align: center;
  background-color: #F7F6F2;
  margin-left:150px ;
  margin-right: 150px;
  margin-bottom: 50px;
}  

.main-thinking h2{
  font-size: 40px;
  font-weight: bold;
  color: var(--Style, rgba(0, 25, 49, 1));
  padding-top: 50px;
}




.main-thinking p{
font-size: 16px;
font-weight:400 ;
color: var(--#627382, rgba(98, 115, 130, 1));
padding-top:20px ;
padding-bottom: 20px;

}

.my-btn-5{
 color:white;
  background-color: #30B868;
  padding:10px ;
  font-weight:400 ;
  font-size:16px ;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
  

 


