*{
   font-family: "Oswald", sans-serif;
   margin: 0;
   padding: 0;
   
}


body{
  /*background-color: aqua;*/
}
nav{
 display: flex;
 justify-content: space-between;
 align-items: center;
 max-width: 1500px;

}

.main-content .my-buttons{
  gap: 30px;
  display: flex;
  justify-content: center;
}
 



.my-btn-1{
background-color: #30B868;
color: white;
padding: 10px;
font-size: 15px;
font-weight: 600;
border: none;
border-radius: 5px;
}

.my-btn-2{
  color:white;
  background-color: #30B868;
  padding:10px ;
  font-weight:600 ;
  font-size:16px ;
  border-radius: 4px;
  border: none;
}

.my-btn-3{
  color:rgba(255, 255, 255, 1);
  background-color: transparent;
  padding:10px ;
  font-weight:600 ;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid white;
}







.link-parent{
  display: flex;
  gap: 25px;
  text-decoration: none;
  list-style: none;
}
.container{
padding: 10px;
/*background-color: aquamarine;*/

}

.main {
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  width: 1366px;
  height:500px;
  margin: none;
  
}
 .main-content .content{
 text-align: center;
  max-width: 700px;
  padding-left:300px;
  

  
}
.content h2{
font-size: 70px;
line-height: 1.2;
}

.content p{
margin: 20px;
}
 
.content .my-btn-4{
  font-size: 16px;
  font-weight: 500px;
  color:  rgba(70, 145, 101, 1);
  border-radius: 25px;
 padding-top: 30px;
}

.main-2 .card{
 text-align: center;
 padding-bottom: 30px;
 padding-top: 35px;
 padding-bottom: 35px;
 

}
 
.main-2 .card h2{
  font-size: 48px;
 font-weight: 700;
 color: #001931;


}

 .card p{
  color: var(--#627382, rgba(98, 115, 130, 1));
  font-size: 16px;
  font-weight: 400;

}

.main-2 .card-2{
background-color: white;
border-radius: 12px;
padding: 12px;
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
display: flex;
flex-direction: column;
gap: 15px;


}
    
.card-2-parent{
  display: flex;
  gap: 20px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
  
}





.card-2 img{
  background-color: rgba(249, 85, 85, 1);; 
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 3px;
  border-radius: 50%;
  margin-left: 85px;

  

}
.card-2 h2{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
color: #001931;
}
.card-2 p{
  color:-#627382;
  font-size: 16px;
  text-align: center;
}








  