*{
   font-family: "Oswald", sans-serif;
}


body{
  /*background-color: aqua;*/
}
nav{
 display: flex;
 justify-content: space-between;
 align-items: center;
 max-width: 1500px;

}
.my-btn{
background-color: #30B868;
color: white;
padding: 10px;
font-size: 15px;
font-weight: 600;
}

.my-btn-2{
  color:white;
  background-color: #30B868;
  padding:10px ;
  font-weight:600 ;
  font-size:16px ;
  border-radius: 4px;
}

.my-btn-3{
  color:rgba(255, 255, 255, 1);
  background-color: solid;
  padding:10px ;
  font-weight:600 ;
  font-size: 16px;
  border-radius: 4px;
}







.link-parent{
  display: flex;
  gap: 25px;
  text-decoration: none;
  list-style: none;
}
.container{
padding: 10px;
/*background-color: aquamarine;*/

}

#main{
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  width: 1500px;
  height:500px;
  margin: none;
  
}
.main-content{
display: flex;
  flex-direction: column;
  align-items: center;
  ;
}




.hero-content{}
  